.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
/.idea/.gitignore
/.idea/machinelearning-aprendizado.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
